.expense-list {
  position: relative;
  font-family: 'Inter', sans-serif;
  color: #1B1D1E;
  background-color: #FFFFFF;
  max-width: 1000px;
  min-width: 700px;
  margin: 40px auto;
  padding: 30px 40px;
  border-radius: 20px;
  box-shadow: 0 20px 40px rgba(47, 79, 79, 0.3);
  box-sizing: border-box;
  min-height: 400px;
  display: flex;
  flex-direction: column;
  overflow-x: auto;
  font-size: 0.9rem;
}

.expense-list h2 {
  color: #556B2F;
  display: inline-block;
  margin-right: 20px;
}

.expense-list .add-expense-btn {
  padding: 8px 16px;
  background-color: #3b82f6; 
  color: white;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  font-size: 14px;
  transition: background-color 0.3s;
}

.expense-list .add-expense-btn:hover {
  background-color: #2563eb; 
}

.expense-list table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
}

.expense-list th,
.expense-list td {
  border: 1px solid #ccc;
  padding: 10px;
  text-align: left;
  font-size: 14px;
}

.expense-list th {
  background-color: #D2691E; 
  color: #F2EFEA; 
}

.expense-list tr:nth-child(even) {
  background-color: #f9f9f9;
}

.expense-list tr:hover {
  background-color: #f1f1f1;
}

/* .back-btn {
  position: absolute;
  top: 25px;
  right: 25px;
  padding: 10px 18px;
  background: white;
  color: #2F4F4F;
  font-weight: 700;
  font-size: 1rem;
  border-radius: 14px;
  border: 2px solid #2F4F4F;
  cursor: pointer; 
}

 .back-btn:hover {
  background: #2F4F4F;
  color: white;
  box-shadow: 0 6px 16px rgba(47, 79, 79, 0.6);
}

.back-btn::before {
  content: "←";
  font-weight: 700;
  font-size: 1.2rem;
  line-height: 0;
}  */ 
