.App {
  font-family: Arial, sans-serif;
  padding: 20px;
  background-color: #eef2f3;
  min-height: 100vh;
}

.user-type-selection {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 180px;
  background: white;
  max-width: 600px;
  width: 90%;
  padding: 40px 35px 45px;
  border-radius: 20px;
  box-shadow: 0 20px 40px rgba(47, 79, 79, 0.3);
  box-sizing: border-box;
  color: #1B1D1E;
  position: relative;
}  
.user-type-selection h2 {
  font-size: 24px;
  margin-bottom: 20px;
  color: #333;
}

.user-type-buttons {
  display: flex;
  gap: 20px;
}

.user-type-btn {
  padding: 14px 28px;
  border-radius: 8px;
  background-color: #2F4F4F; /* Deep Teal */
  color: #fff;
  font-size: 16px;
  text-decoration: none;
  font-weight: 500;
  border: 2px solid transparent;
  transition: all 0.3s ease;
}

/* Hover effect */
.user-type-btn:hover {
  background-color: #4F7777; /* Softer teal */
  transform: scale(1.05);
}

/* Active link */
.user-type-btn.active {
  background-color: #1E3D3D; /* Darker teal */
  border-color: #133030;
  font-weight: 600;
}


Could not paste
